<!-- Search.html

The main search page for the site
Displays a search bar and result list down the left column
Below this there is a section of favorites and popular searches

The right column contains the results from clicking on a search
This "information panel" will be color-coded to match its result type
The info panel will contain different information based on the type of result chosen (tool/software, lab, guide)

By default, when the page loads the first result in the list will be opened in the info panel
If the results list is empty, display a message instead indicating that no results were obtained
-->
<head>
    <link href="../Styles/hover.css" rel="stylesheet" media="all">
    <link href="../Public/Styles/search.css" rel="stylesheet" />
</head>

<div>
    <!--LEFT COLUMN-->
    <div class="left-col">

        <form data-ng-submit="search()">
            <div class="bar">
                <input type="text" ng-model="searchInput" placeholder="Find your Tool" class="InputText"/>
            </div>
        </form>

        <div class="result-list">
            <div class="result-header">Search Results</div>
            <ul>
                <div class="result-list-labs">
                    <div class="result-list-item result-list-lab-item clickable" 
                         data-ng-repeat="r in results_labs"
                         data-ng-click="select(r)">
                        <img src="Images/lab.png" width="24" height="24"/>
                        <div class="result-list-item-title hvr-bounce-in"
                             data-ng-class="{'selected': curSelectedResult === r}">{{r.title}}</div>
                    </div>
                </div>
                <div class="result-list-tools">
                    <div class="result-list-item result-list-tool-item clickable"
                         data-ng-repeat="r in results_tools"
                         data-ng-click="select(r)">
                        <img src="Images/tool.png" width="24" height="24" />
                        <div class="result-list-item-title hvr-bounce-in"
                             data-ng-class="{'selected': curSelectedResult === r}">{{r.title}}</div>
                    </div>
                </div>
                <div class="result-list-software">
                    <div class="result-list-item result-list-software-item clickable"
                         data-ng-repeat="r in results_software"
                         data-ng-click="select(r)">
                        <img src="Images/software.png" width="24" height="24" />
                        <div class="result-list-item-title hvr-bounce-in"
                             data-ng-class="{'selected': curSelectedResult === r}">{{r.title}}</div>
                    </div>
                </div>
                <div class="result-list-guides">
                    <div class="result-list-item result-list-guide-item clickable"
                         data-ng-repeat="r in results_guides"
                         data-ng-click="select(r)">
                        <img src="Images/guide.png" width="24" height="24" />
                        <div class="result-list-item-title hvr-bounce-in"
                             data-ng-class="{'selected': curSelectedResult === r}">{{r.title}}</div>
                    </div>
                </div>
            </ul>
        </div>

        <div class="popular-list">
            <div class="popular-header">Popular Searches</div>
            <ul>
                <li class="popular-item clickable"
                    data-ng-repeat="p in popularSearches"
                    data-ng-click="searchFor(p)">
                    {{p}}
                </li>
            </ul>
        </div>

        <div class="favorite-list"
             data-ng-if="loggedIn()">
            <div class="popular-header ">Favorites</div>
            <ul>
                <li class="favorite-item clickable"
                    data-ng-repeat="f in favorites"
                    data-ng-click="searchFor(f)">
                    {{f}}
                </li>
            </ul>
        </div>

    </div>

    <!--RIGHT COLUMN-->
    <div class="right-column">

        <!--LAB INFO PANEL-->
        <div class="info-panel info-panel-lab"
             data-ng-if="resultType(curSelectedResult) === types.LAB">
            <div class="info-panel-header">
                <img src="Images/lab.png" width="24" height="24" />
                <div class="info-panel-title">{{curSelectedResult.title}}</div>
                <div class="star clickable"
                     data-ng-if="loggedIn()"
                     data-ng-click="toggleFavorite()">
                    <img src="Images/star_full.png" width="24" height="24"
                         data-ng-if="curIsFavorite()" />
                    <img src="Images/star_hollow.png" width="24" height="24"
                         data-ng-if="!curIsFavorite()" />
                </div>
            </div>
            <div class="info-panel-container">
                <div class="info-panel-map">
                    <div id="labMap" style="height:400px"></div>
                </div>
            </div>
            <div class="info-panel-desc">{{curSelectedResult.location}}</div>
            <div class="info-panel-rating">
                <img src="Images/star_full.png" width="12" height="12" />
                {{getRatingText(curSelectedResult)}}
            </div>

            <div class="info-panel-container">
                <div class="info-panel-subtitle">Labs</div>
                <div class="info-panel-lab-entry"
                     data-ng-repeat="labName in curSelectedResult.labs">
                    {{labName}}
                </div>
            </div>
            <div class="info-panel-container">
                <div class="info-panel-subtitle">Tools and Software</div>
                <div class="info-panel-tool-entry clickable"
                     data-ng-repeat="toolName in curSelectedResult.tools"
                     data-ng-click="searchFor(toolName)">
                    {{toolName}}
                </div>
            </div>
            <div class="info-panel-container">
                <div class="info-panel-subtitle">Comments</div>
                <div class="info-panel-comment-submit"
                     data-ng-if="loggedIn()">
                    <form>
                        <textarea data-ng-model="commentForm.body"></textarea>
                        <div class="starbar">
                            <img data-ng-src="Images/star_{{commentForm.rating >= 1 ? 'full' : 'hollow'}}.png" width="12" height="12"
                                 data-ng-click="commentForm.rating = 1" />
                            <img data-ng-src="Images/star_{{commentForm.rating >= 2 ? 'full' : 'hollow'}}.png" width="12" height="12"
                                 data-ng-click="commentForm.rating = 2" />
                            <img data-ng-src="Images/star_{{commentForm.rating >= 3 ? 'full' : 'hollow'}}.png" width="12" height="12"
                                 data-ng-click="commentForm.rating = 3" />
                            <img data-ng-src="Images/star_{{commentForm.rating >= 4 ? 'full' : 'hollow'}}.png" width="12" height="12"
                                 data-ng-click="commentForm.rating = 4" />
                            <img data-ng-src="Images/star_{{commentForm.rating >= 5 ? 'full' : 'hollow'}}.png" width="12" height="12"
                                 data-ng-click="commentForm.rating = 5" />
                        </div>
                        <button class="hvr-buzz-out" id=SubmitButtom data-ng-click="submitComment()">Submit</button>
                    </form>
                </div>
                <div class="info-panel-comment-list">
                    <div class="info-panel-comment-container"
                         data-ng-repeat="com in curSelectedResult.comments">
                        <div class="comment-user">{{com.user}}</div>
                        <div class="comment-rating">
                            <img src="Images/star_full.png" width="12" height="12" />
                            {{com.rating}}
                        </div>
                        <div class="comment-body">{{com.body}}</div>
                    </div>
                </div>
            </div>
        </div>

        <!--Tool Info Panel-->
        <div class="info-panel info-panel-tool"
             data-ng-if="resultType(curSelectedResult) === types.TOOL">
            <div class="info-panel-header">
                <img src="Images/tool.png" width="24" height="24" />
                <div class="info-panel-title">{{curSelectedResult.title}}</div>
                <div class="star clickable"
                     data-ng-if="loggedIn()"
                     data-ng-click="toggleFavorite()">
                    <img src="Images/star_full.png" width="24" height="24"
                         data-ng-if="curIsFavorite()" />
                    <img src="Images/star_hollow.png" width="24" height="24"
                         data-ng-if="!curIsFavorite()" />
                </div>
            </div>
            <div class="info-panel-desc">{{curSelectedResult.desc}}</div>
            <div class="info-panel-container">
                <div id="toolMap" style="height:400px"></div>
                <div class="info-panel-lab-list">
                    <select data-ng-options="meth.name for meth in sortMethodsDDL"
                            data-ng-model="sortMethod"></select>
                    <table class="info-panel-lab-table">
                        <thead>
                            <tr>
                                <td>Location</td>
                                <td>{{getSortingCategory(sortMethod)}}</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="loc in getSortedCurToolLocations(sortMethod)">
                                <td class="clickable" data-ng-click="searchFor(loc.title)">
                                    {{loc.title}}
                                </td>
                                <td>
                                    {{loc.sortValueText}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="info-panel-container"
                 data-ng-if="loggedIn() || curSelectedResult.guides.length > 0">
                <div class="info-panel-subtitle">Guides</div>
                <div class="info-panel-guide-list">
                    <div class="info-panel-guide-entry clickable"
                         data-ng-repeat="g in curSelectedResult.guides"
                         data-ng-click="searchFor(g)">
                        <div class="guide-title">{{g}}</div>
                        <div class="guide-rating">
                            <img src="Images/star_full.png" width="12" height="12" />
                            {{getGuideRatingText(g)}}
                        </div>
                    </div>
                </div>
                <div class="guide-link clickable"
                     data-ng-if="loggedIn()"
                     data-ng-click="submitGuide()">Submit a Guide</div>
            </div>
        </div>

        <!--Software Info Panel-->
        <div class="info-panel info-panel-software"
             data-ng-if="resultType(curSelectedResult) === types.SOFTWARE">
            <div class="info-panel-header">
                <img src="Images/software.png" width="24" height="24" />
                <div class="info-panel-title">{{curSelectedResult.title}}</div>
                <div class="star clickable"
                     data-ng-if="loggedIn()"
                     data-ng-click="toggleFavorite()">
                    <img src="Images/star_full.png" width="24" height="24"
                         data-ng-if="curIsFavorite()" />
                    <img src="Images/star_hollow.png" width="24" height="24"
                         data-ng-if="!curIsFavorite()" />
                </div>
            </div>
            <div class="info-panel-desc">{{curSelectedResult.desc}}</div>
            <div class="info-panel-container">
                <div id="softMap" style="height:400px"></div>
                <div class="info-panel-lab-list">
                    <select data-ng-options="meth.name for meth in sortMethodsDDL"
                            data-ng-model="sortMethod"></select>
                    <table class="info-panel-lab-table">
                        <thead>
                            <tr>
                                <td>Location</td>
                                <td>{{getSortingCategory(sortMethod)}}</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="loc in getSortedCurToolLocations(sortMethod)">
                                <td class="clickable" data-ng-click="searchFor(loc.title)">
                                    {{loc.title}}
                                </td>
                                <td>
                                    {{loc.sortValueText}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="info-panel-container"
                 data-ng-if="loggedIn() || curSelectedResult.guides.length > 0">
                <div class="info-panel-subtitle">Guides</div>
                <div class="info-panel-guide-list">
                    <div class="info-panel-guide-entry clickable"
                         data-ng-repeat="g in curSelectedResult.guides"
                         data-ng-click="searchFor(g)">
                        <div class="guide-title">{{g}}</div>
                        <div class="guide-rating">
                            <img src="Images/star_full.png" width="12" height="12" />
                            {{getGuideRatingText(g)}}
                        </div>
                    </div>
                </div>
                <div class="guide-link clickable"
                     data-ng-if="loggedIn()"
                     data-ng-click="submitGuide()">Submit a Guide</div>
            </div>
        </div> 


        <!--Guide Info Panel-->
        <div class="info-panel info-panel-guide"
             data-ng-if="resultType(curSelectedResult) === types.GUIDE">
            <div class="info-panel-header">
                <img src="Images/guide.png" width="24" height="24" />
                <div class="info-panel-title">{{curSelectedResult.title}}</div>
                <div class="star clickable"
                     data-ng-if="loggedIn()"
                     data-ng-click="toggleFavorite()">
                    <img src="Images/star_full.png" width="24" height="24"
                         data-ng-if="curIsFavorite()" />
                    <img src="Images/star_hollow.png" width="24" height="24"
                         data-ng-if="!curIsFavorite()" />
                </div>
            </div>
            <div class="info-panel-desc">Submitted by {{curSelectedResult.submitUser}} on {{curSelectedResult.submitDate.toDateString()}}</div>
            <div class="info-panel-guide-text clickable"
                 data-ng-click="searchFor(curSelectedResult.tool)">Guide for: {{curSelectedResult.tool}}</div>
            <div class="info-panel-rating">
                <img src="Images/star_full.png" width="12" height="12" />
                {{getRatingText(curSelectedResult)}}
            </div>
            <div class="info-panel-guide-link-container">
                <a>URL: </a>
                <a class="guide-url"
                   data-ng-href="{{curSelectedResult.url}}">{{curSelectedResult.url}}</a>
            </div>
            <div class="info-panel-container">
                <div class="info-panel-subtitle">Comments</div>
                <div class="info-panel-comment-submit"
                     data-ng-if="loggedIn()">
                    <form>
                        <textarea data-ng-model="commentForm.body" ></textarea>
                        <div class="starbar">
                            <img data-ng-src="Images/star_{{commentForm.rating >= 1 ? 'full' : 'hollow'}}.png" width="12" height="12"
                                 data-ng-click="commentForm.rating = 1" />
                            <img data-ng-src="Images/star_{{commentForm.rating >= 2 ? 'full' : 'hollow'}}.png" width="12" height="12"
                                 data-ng-click="commentForm.rating = 2" />
                            <img data-ng-src="Images/star_{{commentForm.rating >= 3 ? 'full' : 'hollow'}}.png" width="12" height="12"
                                 data-ng-click="commentForm.rating = 3" />
                            <img data-ng-src="Images/star_{{commentForm.rating >= 4 ? 'full' : 'hollow'}}.png" width="12" height="12"
                                 data-ng-click="commentForm.rating = 4" />
                            <img data-ng-src="Images/star_{{commentForm.rating >= 5 ? 'full' : 'hollow'}}.png" width="12" height="12"
                                 data-ng-click="commentForm.rating = 5" />
                        </div>
                        <button class="hvr-buzz-out" id="SubmitButtom" data-ng-click="submitComment()">Submit</button>
                    </form>
                </div>
                <div class="info-panel-comment-list">
                    <div class="info-panel-comment-container"
                         data-ng-repeat="com in curSelectedResult.comments">
                        <div class="comment-user">{{com.user}}</div>
                        <div class="comment-rating">
                            <img src="Images/star_full.png" width="15" height="15"/>
                            {{com.rating}}
                        </div>
                        <div class="comment-body">{{com.body}}</div>
                    </div>
                </div>
            </div>
        </div> 

        <div class="info-panel" 
             data-ng-if="curSelectedResult === null">
            <div class="info-panel-desc">Select a result from the list to learn more about it</div>
        </div>
    </div>
</div>
